@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
*{
    font-family:Lato, sans-serif !important;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
a{
    text-decoration:none !important;
    padding:5px 10px !important;
    background:#283593 !important;
    color:#fff !important;
}
a:hover, a:focus{
    background:#2e3ca0 !important;
    color:#fff !important;
}
/* NAV */
#logo-container{
    padding-top: 15px;
    font-size: 15px;
    padding-right:25px;
}
#logo-container #logo{
    background:none !important;
    font-family:Lato, sans-serif;
    letter-spacing:1px;
    text-decoration:none;
    color:#fff;
}
#logo-container #logo span{
    font-weight:900;
}
.navbar{
    background:#3F51B5;
    border:none;
}
.navbar li{
    padding:10px 10px 10px 0px;
}
.navbar li:last-of-type{
    padding-right:0px;
}

ul li {
    list-style:none !important;
    display:inline-block !important;
}